
@import url(/static/css/style.css);

.molecule_navbarFile {
    display: flex;
    width: calc(100% - 20px);
    
    & p {
        /* background: firebrick; */
        font-size: small;
        margin: 1px;
        margin: auto 15px;
        display: flex;
        justify-content: center;
        font-family: var(--font-roboto_normal);

    }
    .tittle_file {
        justify-content: flex-start;
    }
}
.molecule_buttonsVideo_cont {
    display: flex;
    height: 30px;
    background: #1a222e;
    border-radius: 10px;
    margin: 15px 0 0 0;
    border: 1px solid var(--color-border_1);
    justify-content: center;

    .controllers_btn {
        display: flex;
        height: 90%;
        margin: auto 5px;
        background: rgb(27, 27, 27);
        border-radius: 20px;
    }

    & button {
        background: #ffffff00;
        border: none;
        margin: auto 5px;
        font-size: small;
        font-family: var(--font-roboto_normal);
        cursor: pointer;
        height: 80%;
        display: flex;

        &:hover {
            opacity: 50%;
        }
        &:active {
            opacity: 20%;
        }

        & img {
            height: 100%;
            margin: auto 0;
        }
    }
}