
@import url(/static/css/style.css);

.molecule_navbarFile {
    display: flex;
    width: calc(100% - 20px);
    
    & p {
        /* background: firebrick; */
        font-size: small;
        margin: 1px;
        margin: auto 15px;
        display: flex;
        justify-content: center;
        font-family: var(--font-roboto_normal);

    }
    .tittle_file {
        justify-content: flex-start;
    }
}