@import url(/static/css/style.css);
.organism_firsSettings {
    background: var(--color-tres);
    /* background: red; */
    width: calc((100% - 20px) - 30px);
    margin: 0 auto 10px auto;
    padding: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid var(--color-border_1);
    display: flex;
    flex-direction: column;

    .espacio_uno {
        display: flex;

        & select {
            margin: 0 10px 0 0;
            background: var(--color-dos);
            color: var(--color-white);
            border-radius: 5px;

            &:focus {
                outline: none;
            }
        }
    }

    .espacio_dos {
        display: block;
        margin: 10px 0 0 0;
        
        .cont_radios {
            margin: 10px 0 0 0;
            display: flex;

            .myradio{
                /* background: var(--color-cinco); */
                background: var(--color-dos);
                margin: auto 10px 0 0;
                padding: 5px 10px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;

                & input[type="radio"] {
                    cursor: pointer;
                    margin: auto 0 auto 5px;
                }
            }
        }

        & select {
            background: var(--color-dos);
            color: var(--color-white);
            border-radius: 5px;
            margin: 0 0 0 10px;

            &:focus {
                outline: none;
            }
        }
    }
    .espacio_tres {
        margin: 0px;

        .settin_selector{
            background: var(--color-dos);
            width: calc(100% );
            /* margin: auto 10px 0 0; */
            padding: 5px 0;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 15px 0;
        }
        & select {
            background: var(--color-dos);
            color: var(--color-white);
            border-radius: 5px;
            margin: 0 0 0 10px;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }
    }

    & span {
        display: flex;
        text-align: center;
        align-items: center; /* Alinea Vertical */

        & input[type="text"] {
            background: var(--color-principal);
            border: 1px solid var(--color-border_1);
            border-radius: 4px;
            padding: 4px;
            color: var(--color-white_2);
            /* flex-grow: 0.3; */
            margin: auto 5px auto 0px;
            width: 100%;

            &:focus {
                outline: none;
            }
        }
    }
}

.organism_input {
    background: var(--color-tres);
    width: calc((100% - 20px) - 30px);
    margin: 0 auto 10px auto;
    padding: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #2f3842;
    display: flex;
    flex-direction: column;

    .cont_desq {
        display: flex;
        flex-direction: column;
        position: relative;
        /* background: rebeccapurple; */

        & * {
            /* background: gold; */
            margin: 5px 0px;
        }

        .cont_select_video{
            display: flex;
            width: 100%;
            height: 60px;

            &:hover {
                opacity: 70%;
                cursor: pointer;
            }

            &:active {
                opacity: 20%;
            }

            & input[type="file"] {
                color: var(--color-white_2);
                margin: 0px;
                opacity: 0;
                position: absolute;
                background: salmon;
                width: 100%;
                height: 60px;
                z-index: 2;
                cursor: pointer;
            }
    
            & label {
                font-size: smaller;
                margin: 0px;
                display: flex;
                justify-content: center; /* Alinea Horizontal */
                align-items: center; /* Alinea Vertical */
                border: 2px dotted #cacaca;
                border-radius: 5px;
                width: 100%;
                height: calc(60px - 4px);
                z-index: 1;
            }
        }

        & p {
            font-size: smaller;
        }
        
        & .cont_text {
            width: 100%;
            position: relative; /*importante*/
            /* background: red; */

            & textarea {
                background: var(--color-principal);
                border: 1px solid var(--color-border_1);
                border-radius: 3px;
                color: var(--color-white);
                padding: 5px;
                font-family: Arial, Helvetica, sans-serif;
                min-width: calc(100% - 10px);
                max-width: calc(100% - 10px);
                min-height: 40px;
                max-height: 40px;
                margin: 0px;
    
                &:focus {
                    outline: none;
                }
            }

            & span {
                font-size: smaller;
                color: var(--color-white_2);
                position: absolute;/*importante*/
                top: 0px;
                right: 0px;
                margin: 6px 3px;
            }
        }

        .cont_viewImg {
            background: var(--color-tres_2);
            padding: 5px;
            border-radius: 3px;
            display: flex;
            height: 70px;
            overflow-y: scroll;

            & #id_only_imgs {
                height: calc(100% - 10px);
                margin: auto 5px;

                & img {
                    height: calc(100% - 4px);
                    margin: auto 2px;
                    border: 2px solid #fff;
                }
            }

            & label {
                cursor: pointer;
                margin: auto 5px;
                height: 50px;
                width: 50px;

                & img {
                    height: 100%;
                    margin: auto;
                }

                &:hover {
                    opacity: 70%;
                }
                &:active {
                    opacity: 100%;
                }
            }
        }
        .names_view {
            background: salmon;
            border-radius: 3px;
            padding: 5px;
            background: var(--color-tres_2);

            & .file {
                display: flex;
                height: 25px;
                /* background: orange; */

                & img {
                    margin: auto 5px;
                    height: 20px;
                }
            }
            & .hidden {
                display: none;
            }
            & .show {
                display: flex;
            }
            & p {
                /* font-weight: bold; */
                margin: auto 0px;
                /* background: darkblue; */
            }
            & .color1 {
                color: #FBAC45;
            }
            & .color2 {
                color: #D7E760;
            }
            & .color3 {
                color: #82C466;
            }
            & .color4 {
                color: #5B75BB;
            }
            & .color5 {
                color: #35A7D7;
            }
        }

        & input[type="submit"] {
            background: var(--color-cuatro);
            color: var(--color-white);
            padding: 10px;
            border: none;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                opacity: 70%;
            }
        }
    }

}

.organism_th_1 {
    width: 80%;
}
.organism_th_2 {
    width: 10%;
}
.organism_th_3 {
    width: 10%;
}

.organism_listFile {
    background: var(--color-tres);
    width: 100%;
    margin: 15px auto 0 auto;    
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #2f3842;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    /* Estilo para la barra de desplazamiento */
    & ::-webkit-scrollbar {
        width: 5px; /* Ancho de la barra de desplazamiento */
    }

    /* Estilo para la pista de la barra de desplazamiento */
    & ::-webkit-scrollbar-track {
        background: #2B3846; /* Color de fondo de la pista */
    }

    /* Estilo para el pulgar de la barra de desplazamiento */
    & ::-webkit-scrollbar-thumb {
        background: #264277; /* Color de fondo del pulgar */
    }

    /* Cambia el color del pulgar al pasar el mouse */
    & ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    & table {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        /* background: yellow; */

        & tr {
            background: darksalmon;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #435161;

            .tittle_cont {
                justify-content: flex-start;
            }

            & th {
                /* background: red; */
                margin: 10px 15px;
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    /* background: gold; */
                    display: flex;

                    & img {
                        /* background: darkblue; */
                        margin: auto 10px auto 0px;
                    }
                }

                .actions {
                    & img{
                        cursor: pointer;
                        margin: 0px 2px;

                        &:hover {
                            opacity: 70%;
                        }
                    }
                }
                /* & .tittle{
                    background: blue;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    & p {
                    }
                } */
                & P {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: smaller;
                }
                & .thetitle {
                    text-align: start;
                }

                & span {
                    /* background: forestgreen; */
                    display: flex;
                    color: var(--color-white_2);

                    & p {
                        font-size: smaller;
                        margin-top: 2px;
                        /* color: #35A7D7; */
                        text-align: start;
                    }

                    .before {
                        color: #cc6300;
                    }
                }
            }
        }
    }

    .ligth {
        background: var(--color-tres_2) ;
    }   
}
.organism_buttons {
    /* background: var(--color-tres); */
    width: calc(100% - 20px);
    margin: 10px auto;    
    overflow: hidden;
    border-radius: 8px;
    /* border: 1px solid #2f3842; */
    display: flex;
    justify-content: center;

    & button {
        margin: 10px;
        padding: 10px 15px;
        border-radius: 5px;
        border: none;
        background: var(--color-cuatro);
        color: var(--color-white);
        font-size: small;
        cursor: pointer;
        width: 200px;

        &:hover{
            opacity: 50%;
        }
    }

    .clear {
        background: var(--color-cinco);
    }
}

.organism_fileOutput {
    background: var(--color-tres);
    width: calc((100% - 20px) - 30px);
    margin: 10px auto;    
    padding: 15px;
    border-radius: 8px;
    border: 1px solid var(--color-border_1);
    display: flex;
    flex-direction: column;
    height: 260px;
    display: flex;
    /* background: #264277; */

    & p {
        margin: 0px 0px 10px 0px;
    }

    & .cont_viewer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        /* background: green; */
        max-height: 100%;
        max-height: calc(100% - 10px);
        /* margin: 10px 0px */

        & .video {
            width: 50%;
            background: black;
            /* max-height: calc(100% - 10px); */
            max-height: 100%;
            display: flex;
            padding: 0px;

            & video {
                width: auto;
                max-width: 100%;
                /* max-height: calc(100% - 210px); */
                padding: 0px;
                max-height: 100%;
                margin: auto;
                /* opacity: 20%; */
            }
        }
        .capture_options {
            background: #1a222e;
            border-radius: 10px;
            margin: 0px 5px;
            border: 1px solid var(--color-border_1);
            display: flex;
            flex-direction: column;
            justify-content: center; /* Alinea Horizontal */
            align-items: center; /* Alinea Vertical */

            & button {
                width: 40px;
                height: 40px;
                /* background: green; */
                margin: 5px;
                border: none;
                padding: 0px;
                background: none;
                cursor: pointer;
    
                &:hover {
                    opacity: 50%;
                }
                &:active {
                    opacity: 20%;
                }
                
            }
            & img {
                width: 100%;
                height: 100%;
            }
        }

        & .captura {
            height: 240px;
            margin: auto;
            width: calc(50% - 60px);
            /* background: black; */
            display: flex;
            /* border: 1px solid var(--color-border_1); */
            /* opacity: 50%; */
    
            .video_styles {
                width: auto;
                max-width: 100%;
                max-height: 100%;
                margin: auto;
                border: 2px dotted #CC5F1A;
            }
            
        }
    }
}

.organism_code {
    background: var(--color-tres);
    width: calc((100% - 20px) - 30px);
    margin: 10px auto;    
    padding: 15px;
    border-radius: 8px;
    border: 1px solid var(--color-border_1);
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .subtitle {
        margin: 0px 0px 10px 0px;
        /* background: red; */
        display: flex;
        /* justify-content: center; */
        align-items: center;

        & button {
            background: var(--color-cuatro);
            color: var(--color-white);
            border: none;
            padding: 5px;
            border-radius: 5px;
            margin: 0 5px;
            cursor: pointer;
            display: flex;
            align-items: center;

            & img {
                height: 15px;
            }

            &:hover {
                opacity: 70%;
            }
            &:active {
                opacity: 50%;
            }
        }
    }

    & code {
        background: var(--color-principal);
        border: 1px solid var(--color-border_1);
        border-radius: 3px;
        /* color: var(--color-white); */
        padding: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: smaller;
        flex-grow: 1;
        /* background: salmon; */
        overflow-x: scroll;
        /* display: flex; */
        
        & #insert_code {
            /* background: red; */
            padding: 0px;
            margin: 0px;
            /* min-width: 100%;
            max-width: 200%; */
            width: 150%;
            /* white-space: pre-line; */
            line-height: 1.5;

        }

        &:focus {
            outline: none;
        }
    }
    /* COLORES DEL CODGO */
    .keyword {
        color: #EF4E69;
    }

    .string {
        color: #8ACD7A;
    }

    .signos {
        color: #D9FF31;
    }
    .number {
        color: #FBAC45;
    }
}