{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIDEO - PROECESSOR</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">

    <link rel="stylesheet" href="{% static 'css/index/templates.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/organisms.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/molecules.css' %}">

</head>
<body class="template_body">
    <div class="template_cont style_RES_CONT">
        <aside>
            <div class="check">
                <span>
                    <label for="seleccion">Video Guias checkpoint</label>
                    <select id="seleccion" name="seleccion">
                        <option value="opcion1">ES-Guia</option>
                        <option value="opcion2">Opción 2</option>
                        <option value="opcion3">Opción 3</option>
                        <option value="opcion4">Opción 4</option>
                    </select>
                </span>
            </div>
        </aside>
        <aside>
            <section>
                <div class="organism_firsSettings">
                    <span>Total Items: <input id="id_total_items" type="number" value="" name=""></span>
                    <span>New Items: <input id="id_new_item" type="text" value="" name="" id="" disabled></span>
                </div>
                <div class="organism_input">
                        <div class="cont_desq">
                            <input type="file" id="video_file" name="archivo" accept=".mp4">
                            <label for="">titulo/Brebe Descripción</label>
                            <textarea id="id_tittle" name="tittle" rows="2" cols="50" maxlength="70"></textarea>
                            <input type="submit" id="id_submit" value="Subir Archivo">
                        </div>
                </div>
                <div class="molecule_navbarFile">
                    <p class="organism_th_1 tittle_file">Titulo</p>
                    <p class="organism_th_2">Número</p>
                    <p class="organism_th_3">Acción</p>
                </div>
                <div class="organism_listFile">
                    <table id="table_videos">
                        <!-- COLUMN -->
                        
                        <!-- COLUMN -->
                    </table>
                </div>
                <div class="organism_buttons">
                    <button>PROCESAR</button>
                    <button class="clear">LIMPIAR</button>
                </div>
            </section>
            <section>
                <div class="organism_fileOutput">
                    <p>Direccion Archivos OutPut</p>
                    <a href="#">Open Folder</a>
                </div>
                <div class="organism_code">
                    <p>Insertar Código</p>
                    <code id="insert_code"></code>
                </div>
            </section>
        </aside>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" src="{% static 'js/index.js' %}"></script>
    

    <div id="response-container">
        <!-- Aquí se mostrará la respuesta de la API -->
    </div>
    <script>
        $(document).ready(function() {
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                url: '/api/my_apis/create_video/',
                type: 'POST',
                data:{
                    'title': 'Titulo del video',
                    'num_item': '9',
                    'old_title': 'Titulo del video viejo',
                },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function(data) {
                    console.log('Datos de la API AAAAAAAAAAAAAAAA:', data);
                },
                error: function(xhr, textStatus, errorThrown) {
                    // Manejar errores si la solicitud falla
                    console.error('Error al obtener datos de la API:', errorThrown);
                }
            });
        });
    </script>

</body>
</html>