{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIDEO - PROECESSOR</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/myicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">

    <link rel="stylesheet" href="{% static 'css/index/templates.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/organisms.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/molecules.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
</head>
<body class="template_body">
    <div class="template_cont style_RES_CONT">
        <aside>
            <div class="check">
                <span>
                    <label for="seleccion">Video Guias checkpoint</label>
                    <select id="seleccion" name="seleccion">
                        <option value="opcion1">ES-Guia</option>
                        <option value="opcion2">Opción 2</option>
                        <option value="opcion3">Opción 3</option>
                        <option value="opcion4">Opción 4</option>
                    </select>
                </span>
            </div>
        </aside>
        <aside>
            <section>
                <div class="organism_firsSettings">
                    <span>Total Items: <input id="id_total_items" type="number" value="" name=""></span>
                    <span>New Items: <input id="id_new_item" type="number" value="" name="" disabled></span>
                    <button onclick="capture()">Capture</button>
                </div>
                <div class="organism_input">
                        <div class="cont_desq">
                            <div class="cont_select_video">
                                <input type="file" id="video_file" name="archivo" accept=".mp4">
                                <label id="label_file" for="video_file">Arrastra el video aquí</label>
                            </div>
                            <p>titulo/Brebe Descripción</p>
                            <div class="cont_text">
                                <textarea id="id_title" name="tittle" rows="2" cols="50" maxlength="70"></textarea>
                                <span id="total_description">0/70</span>
                            </div>
                            <input type="submit" id="id_submit" value="Subir Archivo">
                        </div>
                </div>
                <div class="molecule_navbarFile">
                    <p class="organism_th_1 tittle_file">Titulo</p>
                    <p class="organism_th_2">Número</p>
                    <p class="organism_th_3">Acción</p>
                </div>
                <div class="organism_listFile">
                    <table id="table_videos">
                        <!-- STUB - TABLE GENERATED -->
                    </table>
                </div>
                <div class="organism_buttons">
                    <button onclick="deleted_one_video(5)">PROCESAR</button>
                    <button id="id_clear" class="clear">LIMPIAR</button>
                </div>
            </section>
            <section class="cont_viwer">
                <div class="organism_fileOutput">
                    <p>Video View</p>
                    <nav class="cont_viewer">
                        <nav class="video" id="video_output">
                            <!-- STUB - CAPTURE VIWER -->
                        </nav>
                        <button id="btn_capture">
                            <img src="{% static 'img/icon_capture.png' %}" alt="">
                        </button>
                        <nav class="captura" id="captura_output">
                            <!-- STUB - VIDEO VIWER -->
                        </nav>
                    </nav>
                </div>
                <div class="organism_code">
                    <p>Insertar Código</p>

                    <code id="insert_code" class="">
                        <!-- STUB - CODE INSERT -->
                    </code>
                </div>
            </section>
        </aside>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>